.list__item__card {
  display: flex;
  flex-direction: column !important;
  align-items: start !important;
}

.list__item__card__title {
  font-size: 1rem;
  margin: 3px 10px;
}
.list__item__card__date {
  font-size: 0.8rem;
  margin: 3px 10px 9px;
  color: #00000073;
}
.list__item__card__subtitle {
  font-size: 0.9rem;
  margin: 3px 10px;
}
.list__item__card__user {
  margin: 3px 10px;
  display: flex;
  align-items: center;
}
.list__item__card__user img {
  margin-right: 5px;
}
.list__item__card__status {
  margin: 3px 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.list__item__card__status span {
  font-size: 0.9rem;
}
.list__item__card__status p {
  margin: 0 5px;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.9rem;
}
.loading {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert__title {
  text-align: center;
  font-size: 1rem;
}

.searchbar input {
  width: 100%;
  margin: 10px 0;
}

.empty_projects {
  font-size: 1.2rem;
  margin: 20px auto;
  text-align: center;
}

.popover__button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}
